---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
	<h1>About Me</h1>
	<p>Hi, I'm a learner. This is my personal blog where I share my thoughts and learning journey.</p>
	
	<h2>My Interests</h2>
	<ul>
		<li>Coding</li>
		<li>Reading</li>
		<li>Music</li>
	</ul>

	<h2>Contact</h2>
	<p>You can find me on <a href="https://github.com">GitHub</a>.</p>
</Layout>
